# Large Data files
*.db
*.bin
*.csv
*.csv.gz
*.bz2
chunk*
layout_simulator
__pycache__/
.DS_Store
*.log
*.txt
*.png
test_scrape/chunk*
test_scrape/layout_simulator
test_scrape/wiki_cache.db
test_scrape/wiki_graph.db
test_scrape/enwiki-latest-pages-articles-multistream.xml.bz2
test_scrape/pageviews.bz2
test_scrape/pipeline.log
test_scrape/status_report.log
test_scrape/libs/
test_scrape/legacy/
test_scrape/.DS_Store
*.pyc
key.txt*
reference_repo/


